<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="~/Content/style.css" rel="stylesheet" media="screen" />
</head>
<body>
  
    <div class="navbar navbar-default">
      <div class="container">
      <div class="navbar-header">
        
        <a href="~/" class="navbar-brand">
          <i class="glyphicon glyphicon-camera"></i> 
          MPOB
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="~/Home/About">
              <i class="glyphicon glyphicon-ok"></i> 
              About
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Dropdown
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="~/">Sub Menu</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="~/Home/About">Sign Out</a></li>
        </ul>
      </div>
      </div>
    </div>
  <div class="container">
    <div class="page-header">
      <h1>MPOB Training</h1>
    </div>
    <div class="row">
    @if (IsSectionDefined("sidebar")) {
      <div class="col-sm-4 well">
        <h1>Sidebar</h1>
        @RenderSection("sidebar", required:false)
      </div>
      <div class="col-sm-8">
        @RenderBody()
      </div>
    } else {
      @RenderBody()
    }
    </div>
  </div>
  
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>