﻿@model Mpob.Training.Models.Staff

<div class="page-header">
  <h3>Edit Staff</h3>
</div>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-xs-2 control-label">Name</label>
    <div class="col-xs-10 control-group">
      @Html.TextBoxFor(m => m.Name, new { @class="form-control" })
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-2 control-label">Active</label>
    <div class="col-xs-10 control-group">
      <div class="checkbox">
        <label>@Html.CheckBoxFor(m => m.IsActive)</label>
      </div>
    </div>
  </div>
</form>

