@model List<Mpob.Training.Models.Staff>
<a href="#" class="btn btn-primary">Add</a>
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
  <tr>
    <th>Name</th>
    <th>Joined</th>
    <th>Active</th>
  </tr>
</thead>
<tbody>
@foreach (var m in Model) {
 <tr class="@(m.IsActive ? "success" : "danger")">
  <td class="col-xs-1">
    <a href="~/Home/Edit/@m.Id">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    </td> 
  <td class="col-xs-6">@m.Name</td>
  <td class="col-xs-4">@m.Joined</td>
  <td class="col-xs-1"><i class="glyphicon glyphicon-@(m.IsActive ? "ok":"remove-circle")"></i></td>
 </tr> 
}
</tbody>
</table>
